*{
    padding: 0px;
    margin: 0px;
    border: none;
    box-sizing: border-box;
    font-size: large;
}

body{
    background: rgb(255,170,207);
    background: radial-gradient(circle, rgba(255,170,207,1) 0%, rgba(148,187,233,1) 100%);
    font-family: Arial, Helvetica, sans-serif;
}

.calc{
    position: relative;
    left: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(233, 148, 225, 0.282);
    width: 270px;
    border-radius: 15px;
    box-shadow: 0px 0px  5px rgba(0, 0, 0, 0.509);
}

/* TÍTULO */

.div_nome{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
}

.div_display{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* DISPLEY */

.div_display{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;

}

.display{
   width: 270px;
   background-color: rgba(255, 254, 254, 0.401);
   text-align: right;
   padding: 5px;
}

.div_teclas{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    flex-wrap: wrap;
}

.tecla{
    display: flex;
    background-color: #aaa;
    border: 3px solid #888;
    font-weight: bold;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 10px;
    margin: 7px;
}

.teclaOp{
    background-color: #f44 !important;
    border-color: #800 !important;

}