*{
    border: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box ;
    font-family: Arial, Helvetica, sans-serif;
}

.dgv{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.dgvTitulos{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    background-color: #138;
    color: #fff;
    border-radius: 5px 5px 0px 0px;
}

.dgvTitulos div,.dgvLinha div{
    padding: 5px;
}

.dgvDados{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.dgvLinha{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}

.dgvLinha:hover{
    background-color: rgba(17, 51, 136, 0.754) !important;
    color: white !important;
    cursor: pointer;
}

.dgvLinha:nth-child(odd){
    background-color: #aaa;
}
.dgvLinha:nth-child(even){
    background-color: #ddd;
}

.c1{
    width: 50px;
}
.c2{
    width: 150px;
}
.c3{
    width: 150px;
}
.c4{
    width: 150px;
}
.c5{
    width: 100px;
}